 html, body {
                height: 100%;
                width: 100%;
                padding: 0;
                margin: 0;
                background-color: #6E6E6E;
                background-image:url("../img/fondoC.jpg");
            }
#pantalla-completa {
                z-index: -999;
                width: 100%;
                height: auto;
                position: fixed;
                top: 0;
                left: 0;
            }
            
.menu{
                position: fixed;
                left: 30%;
                top: 5%;
                color: white;
                font-size: 25px;
                z-index: 50;
                background-image:url("../img/fondoC.jpg");
            }
            
p {
            border-style: ridge; 
            }
            
            
#full-screen-background-image {
                
                width: 350%;
                height: 350%;
                top: 0px;
                position: fixed;
                left: 0px;
                
            }
            
            #logo-rtec {
                
                top: 5px; 
                position: relative; 
                left: 5px;
                opacity: 0.4; 
                filter: alpha(opacity=40);
                border: 5px solid #ddd;
                border-radius: 8px;
                cursor: pointer;
                transition: 0.3s;
            }
